In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('Retail Transactions.csv')
df

,transaction_date,transaction_hour,location_state,location_city,rewards_number,rewards_member,num_of_items,coupon_flag,discount_amt,order_amt
0,6/24/2020,1:26 PM,Florida,Miami,223-472-61,True,22,NaN,NaN,$213.68
1,5/15/2020,2:11 PM,South Carolina,Greenville,NaN,NaN,13,Yes,0.33,$155.59
2,2/20/2020,12:33 PM,Georgia,Atlanta,204-941-15,True,22,NaN,NaN,$106.82
3,7/22/2020,4:56 PM,Florida,Sarasota,446-940-80,True,17,Yes,0.25,$169.14
4,1/31/2020,7:53 PM,Florida,Pensacola,NaN,NaN,8,NaN,NaN,$72.93
...,...,...,...,...,...,...,...,...,...,...
75615,11/30/2019,5:28 PM,Florida,Fort Pierce,823-376-16,False,12,NaN,NaN,$230.75
75616,8/2/2020,4:08 PM,Florida,Panama City,663-789-70,False,16,NaN,NaN,$76.02
75617,1/11/2020,3:25 PM,Florida,Panama City,179-788-42,False,13,NaN,NaN,$104.27
75618,8/21/2020,1:07 PM,Alabama,Gadsden,121-954-64,True,14,NaN,NaN,$161.50
75619,11/2/2019,11:50 AM,Georgia,Athens,NaN,NaN,15,NaN,NaN,$179.96

# EDA

- 데이터 전처리

In [7]:
df.duplicated().sum()

0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75620 entries, 0 to 75619
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_date  75620 non-null  object
 1   transaction_hour  75620 non-null  object
 2   location_state    75620 non-null  object
 3   location_city     75620 non-null  object
 4   rewards_number    43923 non-null  object
 5   rewards_member    43923 non-null  object
 6   num_of_items      75620 non-null  int64
 7   coupon_flag       20942 non-null  object
 8   discount_amt      20942 non-null  float64
 9   order_amt         75620 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 5.8+ MB

날짜와 시간을 나타내는 transaction_date, transaction_hour컬럼의 데이터 타입 변경

In [13]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'])

In [22]:
df['transaction_hour'] = pd.to_datetime(df['transaction_hour']).dt.time

In [23]:
df.head()

,transaction_date,transaction_hour,location_state,location_city,rewards_number,rewards_member,num_of_items,coupon_flag,discount_amt,order_amt
0,2020-06-24,13:26:00,Florida,Miami,223-472-61,True,22,NaN,NaN,$213.68
1,2020-05-15,14:11:00,South Carolina,Greenville,NaN,NaN,13,Yes,0.33,$155.59
2,2020-02-20,12:33:00,Georgia,Atlanta,204-941-15,True,22,NaN,NaN,$106.82
3,2020-07-22,16:56:00,Florida,Sarasota,446-940-80,True,17,Yes,0.25,$169.14
4,2020-01-31,19:53:00,Florida,Pensacola,NaN,NaN,8,NaN,NaN,$72.93

rewards_number가 없는 경우, rewards_member가 아닌 경우가 정상적이라고 볼 수 있음 \
따라서 두 컬럼은 같은 행에서 둘 다 결측치가 있음을 확인

In [31]:
df[df['rewards_number'].isnull()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31697 entries, 1 to 75619
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_date  31697 non-null  datetime64[ns]
 1   transaction_hour  31697 non-null  object
 2   location_state    31697 non-null  object
 3   location_city     31697 non-null  object
 4   rewards_number    0 non-null      object
 5   rewards_member    0 non-null      object
 6   num_of_items      31697 non-null  int64
 7   coupon_flag       8818 non-null   object
 8   discount_amt      8818 non-null   float64
 9   order_amt         31697 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 2.7+ MB

reward member가 아닌 경우 값을 결측치가 아닌 false로 대체

In [44]:
# rewards_member컬럼의 결측치를 True와 맞춰 False로 대체
df['rewards_member'] = df['rewards_member'].fillna('False')

In [43]:
# rewards_member컬럼의 결측치가 사라짐을 확인하면서 rewards_number컬럼의 결측치가 rewards_member컬럼과 같음을 확인
df['rewards_member'].isnull().sum()

0

In [39]:
df['coupon_flag'].value_counts()

Yes    20942
Name: coupon_flag, dtype: int64

In [41]:
df[df['coupon_flag'].isnull()].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54678 entries, 0 to 75619
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_date  54678 non-null  datetime64[ns]
 1   transaction_hour  54678 non-null  object
 2   location_state    54678 non-null  object
 3   location_city     54678 non-null  object
 4   rewards_number    31799 non-null  object
 5   rewards_member    54678 non-null  object
 6   num_of_items      54678 non-null  int64
 7   coupon_flag       0 non-null      object
 8   discount_amt      0 non-null      float64
 9   order_amt         54678 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 4.6+ MB

coupon_flag컬럼의 경우 마찬가지로 쿠폰이 존재하지 않다면 discount_amt값이 없으므로 \
두 컬럼은 같은 행에서 둘 다 결측치가 있음을 확인

In [46]:
# coupon_flag컬럼의 결측치를 Yes와 맞춰 No로 대체
df['coupon_flag'] = df['coupon_flag'].fillna('No')

# coupon_amt컬럼의 결측치를 숫자형 데이터에 맞춰 0로 대체
df['discount_amt'] = df['discount_amt'].fillna(0)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75620 entries, 0 to 75619
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_date  75620 non-null  datetime64[ns]
 1   transaction_hour  75620 non-null  object
 2   location_state    75620 non-null  object
 3   location_city     75620 non-null  object
 4   rewards_number    43923 non-null  object
 5   rewards_member    75620 non-null  object
 6   num_of_items      75620 non-null  int64
 7   coupon_flag       75620 non-null  object
 8   discount_amt      75620 non-null  float64
 9   order_amt         75620 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 5.8+ MB

In [49]:
# 'discount_amt'컬럼의 값을 보아 할인률로 확인함
df['discount_amt'].value_counts()

0.00    54678
0.13      571
0.16      561
0.11      561
0.18      552
0.29      546
0.36      545
0.30      541
0.35      540
0.12      539
0.22      539
0.40      539
0.27      537
0.39      537
0.31      537
0.23      536
0.24      535
0.41      534
0.14      532
0.15      529
0.17      527
0.32      526
0.44      524
0.46      524
0.28      524
0.47      523
0.21      519
0.43      510
0.26      510
0.38      509
0.19      508
0.37      501
0.45      500
0.20      500
0.48      500
0.42      495
0.49      490
0.34      490
0.25      479
0.33      474
0.50      280
0.10      218
Name: discount_amt, dtype: int64

마지막 order_amt컬럼의 화폐단위 $를 삭제

In [52]:
df['order_amt'] = df['order_amt'].str.lstrip('$')

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75620 entries, 0 to 75619
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_date  75620 non-null  datetime64[ns]
 1   transaction_hour  75620 non-null  object
 2   location_state    75620 non-null  object
 3   location_city     75620 non-null  object
 4   rewards_number    43923 non-null  object
 5   rewards_member    75620 non-null  object
 6   num_of_items      75620 non-null  int64
 7   coupon_flag       75620 non-null  object
 8   discount_amt      75620 non-null  float64
 9   order_amt         75620 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 5.8+ MB

데이터 타입 변경은 태블로에서 처리하기로 하고 csv파일로 저장

In [71]:
df.to_csv('retail.csv')